<head>
    <%= stylesheet_link_tag 'post' %>
    <%= javascript_include_tag 'show_page' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <h1>Posted by: <%=@post.user.name %> </h1>

    <p>
        <%= @post.content%>
    </p>
    
    <p>
        <%= image_tag @post.picture if @post.picture.attached? %>
    </p>

    <div>
        <button class="heart-btn" onclick="toggleHeart(this)"><i class="bi bi-heart"></i></button>
        <button class="bi bi-chat" onclick="window.location='<%= comment_path(@post) %>'"></button>
        <button><i class="bi bi-arrow-repeat"></i></button>
        <button class="save-btn" onclick="toggleSave(this)"><i class="bi bi-bookmark"></i></button>
    </div>

    <div class="comments">
        <% @comments.each do |comment| %>
            <div class="post card mb-3">
                <%= comment.content %>
                <div>Posted by: <%= comment.user.name %></div>
        </div>
    </div>
    <% end %>
</body>