<h1>Account Settings</h1>

<%= form_for @user, url: settings_path, method: :patch, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
    <%= image_tag @user.profile_picture if @user.profile_picture.attached? %>
  </div>

  <div>
    <%= f.label :cover_photo %>
    <%= f.file_field :cover_photo %>
    <%= image_tag @user.cover_photo if @user.cover_photo.attached? %>
  </div>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :notification_preferences %>
    <%= f.text_area :notification_preferences %>
  </div>

  <div>
    <%= f.submit 'Update Settings' %>
  </div>
<% end %>
